.outerBoxWrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.outerBox {
    background-color: rgba(49, 131, 171, 0.9);
    width: 50%;
    padding: 2em;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

.innerBox {
    padding: 20px 10px;
}
.boxLabel
{
    text-align: center;
}
.submitForgotPasswordButton
{
    width: 20%;
    margin: auto;
    margin-top: 5%;
    justify-content: left;
}