.outerPasswordBoxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outerBox {
    background-color: rgba(49, 131, 171, 0.9);
    width: 50%;
    padding: 2em;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

.innerBox {
    padding: 20px 10px;
}
.boxLabel
{
    text-align: center;
}
.submitForgotPasswordButton
{
    margin: auto;
    margin-top: 5%;
    background-color: #0d3c34 !important;
    border-color: #0d3c34 !important;
}
.title-text
{
    color: black;
}

.returnToLogin
{
    text-align: center;
}

.returnToLoginButton {
    color: #000000 !important;
  }
  
  