.outerBoxWrapper {
    padding-top: 5px;
}
.delete {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
.update {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border: grey solid 1px;
}