.outerRegistrationBoxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.innerBox {
    padding: 20px 10px;
}

.inputWrapper {
    margin-bottom: 1.5em;
    display: flex;
}

input, input:focus {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    width: 100%;
}

.returnToLoginButton {
    color: black
}

.input
{
    margin-bottom: 20px;
}

.boxLabel {
    color:white;
    margin-bottom: 10%;
}

.warningText {
    color: rgb(255, 22, 22);
}

button
{
    background-color: #13524a !important;
    border-color: #13524a !important;
}
button:hover
{
    background-color: #0d3c34 !important;
    border-color: #0d3c34 !important;
}