.outerBoxWrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.outerBox {
    background-color: rgba(49, 131, 171, 0.9);
    width: 50%;
    padding: 2em;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

.innerBox {
    padding: 20px 10px;
}

.inputWrapper {
    margin-bottom: 1.5em;
    display: flex;
}

input, input:focus {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    width: 100%;
}

button {
    border: none;
    background-color: white;
    padding: .9%;
    margin-top: 3%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.changeButton:hover {
    background-color: rgb(229, 225, 225);
}

.returnToLoginButton {
    color: rgb(240, 240, 240);
}

.boxLabel {
    color: white;
    margin-bottom: 10%;
}

.warningText {
    color: rgb(255, 22, 22);
}
